.CollapseCmp,
.CollapseCmp--secondary {
  display: flex;
  flex-direction: column;
  min-height: 29px;
}

.CollapseCmp--open {}

.CollapseCmp__btn {
  position: relative;
  padding: 0;
  padding-left: 25px;
  border-radius: 0;
  display: flex;
  font-size: 11px;
  font-weight: 200;
  height: 29px;
  color: var(--theme-secondary-gray);
  background: var(--theme-primary-gray);
  border: none;
  text-align: left;
}

.CollapseCmp__content {
  background: var(--theme-secondary-black-dark);
  color: var(--theme-secondary-gray);
  min-height: 29px;
  font-size: 11px;
  font-weight: 200;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.CollapseCmp--open > .CollapseCmp__btn {
  color: var(--theme-yellow);
}

.CollapseCmp--secondary > .CollapseCmp__btn {
  padding-left: 0;
  background: var(--theme-secondary-black-dark);
}

.CollapseCmp__arrow {
  transition: all 0.3s ease-in;
  position: absolute;
  right: 8px;
  width: 10px;
  top: 0;
  fill: var(--theme-secondary-gray);
}

.CollapseCmp--open .CollapseCmp__arrow {
  transform: rotate(90deg);
}

.CollapseCmp ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.CollapseCmp li {
  width: 100%;
  background: var(--theme-secondary-black-dark);
  color: var(--theme-secondary-gray);
  min-height: 29px;
  line-height: 27px;
  font-size: 11px;
  font-weight: 200;
  display: list-item;
}
